In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets, preprocessing

### 데이터 불러오기

In [7]:
df_data = pd.read_excel('boston_house_data.xlsx', index_col=0, encoding='utf-8') # 엑셀 파일 읽기
df_data.head() # 윗부분만 보려면?

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [8]:
df_target = pd.read_excel('boston_house_target.xlsx',index_col=0,encoding='utf-8')
df_target.head()

      0
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

### 데이터 합쳐서 살펴보기

In [12]:
df_main = pd.concat([df_data,df_target], axis=1)
df_main

,0,1,2,3,4,5,6,7,8,9,10,11,12,0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [13]:
# 열 이름 통째로 바꾸기
df_main.columns = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV'] 
df_main.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [14]:
df_main.describe() # descriptiondf_main.describe() # description

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

### Dataframe을 Numpy array로 바꿔주기

In [15]:
boston_data = np.array(df_data)
boston_target = np.array(df_target)

In [16]:
print(boston_data.shape)
print(boston_target.shape)

(506, 13)
(506, 1)

### Feature 선택하기

In [18]:
boston_X=boston_data[:,12:13]
boston_X

array([[ 4.98],
       [ 9.14],
       [ 4.03],
       [ 2.94],
       [ 5.33],
       [ 5.21],
       [12.43],
       [19.15],
       [29.93],
       [17.1 ],
       [20.45],
       [13.27],
       [15.71],
       [ 8.26],
       [10.26],
       [ 8.47],
       [ 6.58],
       [14.67],
       [11.69],
       [11.28],
       [21.02],
       [13.83],
       [18.72],
       [19.88],
       [16.3 ],
       [16.51],
       [14.81],
       [17.28],
       [12.8 ],
       [11.98],
       [22.6 ],
       [13.04],
       [27.71],
       [18.35],
       [20.34],
       [ 9.68],
       [11.41],
       [ 8.77],
       [10.13],
       [ 4.32],
       [ 1.98],
       [ 4.84],
       [ 5.81],
       [ 7.44],
       [ 9.55],
       [10.21],
       [14.15],
       [18.8 ],
       [30.81],
       [16.2 ],
       [13.45],
       [ 9.43],
       [ 5.28],
       [ 8.43],
       [14.8 ],
       [ 4.81],
       [ 5.77],
       [ 3.95],
       [ 6.86],
       [ 9.22],
       [13.15],
       [14.44],
       [ 6.73],
       [ 9.5 ],
       [ 8.05],
       [ 4.67],
       [10.24],
       [ 8.1 ],
       [13.09],
       [ 8.79],
       [ 6.72],
       [ 9.88],
       [ 5.52],
       [ 7.54],
       [ 6.78],
       [ 8.94],
       [11.97],
       [10.27],
       [12.34],
       [ 9.1 ],
       [ 5.29],
       [ 7.22],
       [ 6.72],
       [ 7.51],
       [ 9.62],
       [ 6.53],
       [12.86],
       [ 8.44],
       [ 5.5 ],
       [ 5.7 ],
       [ 8.81],
       [ 8.2 ],
       [ 8.16],
       [ 6.21],
       [10.59],
       [ 6.65],
       [11.34],
       [ 4.21],
       [ 3.57],
       [ 6.19],
       [ 9.42],
       [ 7.67],
       [10.63],
       [13.44],
       [12.33],
       [16.47],
       [18.66],
       [14.09],
       [12.27],
       [15.55],
       [13.  ],
       [10.16],
       [16.21],
       [17.09],
       [10.45],
       [15.76],
       [12.04],
       [10.3 ],
       [15.37],
       [13.61],
       [14.37],
       [14.27],
       [17.93],
       [25.41],
       [17.58],
       [14.81],
       [27.26],
       [17.19],
       [15.39],
       [18.34],
       [12.6 ],
       [12.26],
       [11.12],
       [15.03],
       [17.31],
       [16.96],
       [16.9 ],
       [14.59],
       [21.32],
       [18.46],
       [24.16],
       [34.41],
       [26.82],
       [26.42],
       [29.29],
       [27.8 ],
       [16.65],
       [29.53],
       [28.32],
       [21.45],
       [14.1 ],
       [13.28],
       [12.12],
       [15.79],
       [15.12],
       [15.02],
       [16.14],
       [ 4.59],
       [ 6.43],
       [ 7.39],
       [ 5.5 ],
       [ 1.73],
       [ 1.92],
       [ 3.32],
       [11.64],
       [ 9.81],
       [ 3.7 ],
       [12.14],
       [11.1 ],
       [11.32],
       [14.43],
       [12.03],
       [14.69],
       [ 9.04],
       [ 9.64],
       [ 5.33],
       [10.11],
       [ 6.29],
       [ 6.92],
       [ 5.04],
       [ 7.56],
       [ 9.45],
       [ 4.82],
       [ 5.68],
       [13.98],
       [13.15],
       [ 4.45],
       [ 6.68],
       [ 4.56],
       [ 5.39],
       [ 5.1 ],
       [ 4.69],
       [ 2.87],
       [ 5.03],
       [ 4.38],
       [ 2.97],
       [ 4.08],
       [ 8.61],
       [ 6.62],
       [ 4.56],
       [ 4.45],
       [ 7.43],
       [ 3.11],
       [ 3.81],
       [ 2.88],
       [10.87],
       [10.97],
       [18.06],
       [14.66],
       [23.09],
       [17.27],
       [23.98],
       [16.03],
       [ 9.38],
       [29.55],
       [ 9.47],
       [13.51],
       [ 9.69],
       [17.92],
       [10.5 ],
       [ 9.71],
       [21.46],
       [ 9.93],
       [ 7.6 ],
       [ 4.14],
       [ 4.63],
       [ 3.13],
       [ 6.36],
       [ 3.92],
       [ 3.76],
       [11.65],
       [ 5.25],
       [ 2.47],
       [ 3.95],
       [ 8.05],
       [10.88],
       [ 9.54],
       [ 4.73],
       [ 6.36],
       [ 7.37],
       [11.38],
       [12.4 ],
       [11.22],
       [ 5.19],
       [12.5 ],
       [18.46],
       [ 9.16],
       [10.15],
       [ 9.52],
       [ 6.56],
       [ 5.9 ],
       [ 3.59],
       [ 3.53],
       [ 3.54],
       [ 6.57],
       [ 9.25],
       [ 3.11],
       [ 5.12],
       [ 7.79],
       [ 6.9 ],
       [ 9.59],
       [ 7.26],
       [ 5.91],
       [11.25],
       [ 8.1 ],
       [10.45],
       [14.79],
       [ 7.44],
       [ 3.16],
       [13.65],
       [13.  ],
       [ 6.59],
       [ 7.73],
       [ 6.58],
       [ 3.53],
       [ 2.98],
       [ 6.05],
       [ 4.16],
       [ 7.19],
       [ 4.85],
       [ 3.76],
       [ 4.59],
       [ 3.01],
       [ 3.16],
       [ 7.85],
       [ 8.23],
       [12.93],
       [ 7.14],
       [ 7.6 ],
       [ 9.51],
       [ 3.33],
       [ 3.56],
       [ 4.7 ],
       [ 8.58],
       [10.4 ],
       [ 6.27],
       [ 7.39],
       [15.84],
       [ 4.97],
       [ 4.74],
       [ 6.07],
       [ 9.5 ],
       [ 8.67],
       [ 4.86],
       [ 6.93],
       [ 8.93],
       [ 6.47],
       [ 7.53],
       [ 4.54],
       [ 9.97],
       [12.64],
       [ 5.98],
       [11.72],
       [ 7.9 ],
       [ 9.28],
       [11.5 ],
       [18.33],
       [15.94],
       [10.36],
       [12.73],
       [ 7.2 ],
       [ 6.87],
       [ 7.7 ],
       [11.74],
       [ 6.12],
       [ 5.08],
       [ 6.15],
       [12.79],
       [ 9.97],
       [ 7.34],
       [ 9.09],
       [12.43],
       [ 7.83],
       [ 5.68],
       [ 6.75],
       [ 8.01],
       [ 9.8 ],
       [10.56],
       [ 8.51],
       [ 9.74],
       [ 9.29],
       [ 5.49],
       [ 8.65],
       [ 7.18],
       [ 4.61],
       [10.53],
       [12.67],
       [ 6.36],
       [ 5.99],
       [ 5.89],
       [ 5.98],
       [ 5.49],
       [ 7.79],
       [ 4.5 ],
       [ 8.05],
       [ 5.57],
       [17.6 ],
       [13.27],
       [11.48],
       [12.67],
       [ 7.79],
       [14.19],
       [10.19],
       [14.64],
       [ 5.29],
       [ 7.12],
       [14.  ],
       [13.33],
       [ 3.26],
       [ 3.73],
       [ 2.96],
       [ 9.53],
       [ 8.88],
       [34.77],
       [37.97],
       [13.44],
       [23.24],
       [21.24],
       [23.69],
       [21.78],
       [17.21],
       [21.08],
       [23.6 ],
       [24.56],
       [30.63],
       [30.81],
       [28.28],
       [31.99],
       [30.62],
       [20.85],
       [17.11],
       [18.76],
       [25.68],
       [15.17],
       [16.35],
       [17.12],
       [19.37],
       [19.92],
       [30.59],
       [29.97],
       [26.77],
       [20.32],
       [20.31],
       [19.77],
       [27.38],
       [22.98],
       [23.34],
       [12.13],
       [26.4 ],
       [19.78],
       [10.11],
       [21.22],
       [34.37],
       [20.08],
       [36.98],
       [29.05],
       [25.79],
       [26.64],
       [20.62],
       [22.74],
       [15.02],
       [15.7 ],
       [14.1 ],
       [23.29],
       [17.16],
       [24.39],
       [15.69],
       [14.52],
       [21.52],
       [24.08],
       [17.64],
       [19.69],
       [12.03],
       [16.22],
       [15.17],
       [23.27],
       [18.05],
       [26.45],
       [34.02],
       [22.88],
       [22.11],
       [19.52],
       [16.59],
       [18.85],
       [23.79],
       [23.98],
       [17.79],
       [16.44],
       [18.13],
       [19.31],
       [17.44],
       [17.73],
       [17.27],
       [16.74],
       [18.71],
       [18.13],
       [19.01],
       [16.94],
       [16.23],
       [14.7 ],
       [16.42],
       [14.65],
       [13.99],
       [10.29],
       [13.22],
       [14.13],
       [17.15],
       [21.32],
       [18.13],
       [14.76],
       [16.29],
       [12.87],
       [14.36],
       [11.66],
       [18.14],
       [24.1 ],
       [18.68],
       [24.91],
       [18.03],
       [13.11],
       [10.74],
       [ 7.74],
       [ 7.01],
       [10.42],
       [13.34],
       [10.58],
       [14.98],
       [11.45],
       [18.06],
       [23.97],
       [29.68],
       [18.07],
       [13.35],
       [12.01],
       [13.59],
       [17.6 ],
       [21.14],
       [14.1 ],
       [12.92],
       [15.1 ],
       [14.33],
       [ 9.67],
       [ 9.08],
       [ 5.64],
       [ 6.48],
       [ 7.88]])

In [19]:
boston_Y=boston_target

### Training & Test set으로 나눠주기

In [22]:
from sklearn import model_selection

x_train,x_test,y_train,y_test = model_selection.train_test_split(boston_X,boston_Y,test_size=0.3, random_state=0)

In [23]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(354, 1)
(152, 1)
(354, 1)
(152, 1)

### 비어있는 모델 객체 만들기